$black-background: #303133;
$form-background: #414243;
$black-userCard: #423f40;
$black-side: #222222;
$black-stats: #262729;
$black-decoration: #2b2c2e;

$text-red: #F4431F;
$stats: #DE9710;
$red-background: #B1361E;
$text-grayish: #DDD2D2;